<div class="settings-container">
  <h1 mat-dialog-title>Text Box - details</h1>
  <mat-dialog-content class="mat-typography">
    <form>
      <mat-form-field>
        <input matInput placeholder="Label" [(ngModel)]="data.label">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="data.description">
      </mat-form-field>


      <mat-form-field>
        <input matInput placeholder="placeholder" [(ngModel)]="data.placeholder">
      </mat-form-field>

      <mat-form-field>
        <mat-checkbox class="example-margin" [(ngModel)]="checked" [labelPosition]="labelPosition">Checked</mat-checkbox>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>

</div>