<div class="settings-container">
  <h1 mat-dialog-title>Text Box - details</h1>
  <mat-dialog-content class="mat-typography">
    <form>
      <mat-form-field>
        <mat-label>Question/Label</mat-label>
        <input matInput [(ngModel)]="data.label" [placeholder]="data.placeholder" name="first">
      </mat-form-field>
      <mat-form-field>
        <mat-label>vasile </mat-label>
        <input matInput placeholder="Just a placeholder">
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</div>